pandas==2.2.1
pdfplumber==0.10.3
python-dateutil==2.8.2
python-dotenv==1.0.0
ipykernel>=6.29.3
transformers
sentencepiece
torch==2.1.0+cu118 --find-links https://download.pytorch.org/whl/cu118/torch_stable.html
torchvision==0.16.0+cu118 --find-links https://download.pytorch.org/whl/cu118/torch_stable.html
torchaudio==2.1.0+cu118 --find-links https://download.pytorch.org/whl/cu118/torch_stable.html
langchain
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
faiss-cpu
pinecone
tensorflow>=2.15.0
tf-keras>=2.15.0
notebook>=7.0.0
ipywidgets>=8.1.0
jupyterlab_widgets>=3.0.0
widgetsnbextension>=4.0.0
faiss-cpu
faiss-gpu